.extraElem{
    height: 20px;
}

.orderingElem, .elemOrderButtons button{
    padding: 7px 15px;
    border-radius: 5px;
    margin: 2px 0px;
    background-color: var(--bg2-color);
    color: var(--font2-color);
}

.draggingElem{
    opacity: .6;
}

.elemOrderButtons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 5px;
}