.extraElem{
    height: 20px;
}

.orderingElem, .elemOrderButtons button{
    padding: 7px 15px;
    border-radius: 5px;
    margin: 2px 0px;
    background-color: var(--bg2-color);
    color: var(--font2-color);
}

.draggingElem{
    opacity: .6;
}

.elemOrderButtons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 5px;
}

.temasOrderingContainer{
    width: 100%;
    max-width: 650px;
    padding: 10px 20px;
    height: max-content;
    min-height: 100%;
}
.OrdenarTemasAllCursos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
    column-gap: 10px;
    justify-content: center;
}

.editarTemasNames input,
.editarTemasNames button{
    border-radius: 10px;
    border: none;
    padding: 2px 10px;
    margin: 3px 5px;
    background-color: var(--bg2-color);
    color: var(--font2-color);
}