.perfilContainer{
    width:100%;
    max-width: min(100%, 600px);
    padding: 5px 10px;
    min-height: 100%;
    height: max-content;
    min-height: 100%;
    margin: 0 auto;
}
.inputPerfil{
    word-break: break-word;
    text-align: left;
}
.inputPerfil h3{
    margin-top: 10px;
    margin-bottom: 2px;
}
.buttonInputPerfil > div{
    word-break: break-word;
    padding: var(--pad-button);
    height: 100%;
    width: 100%;
}

.buttonInputPerfil{
    --pad-button: 5px 15px;
    color: var(--font2-color);
    background-color: var(--bg2-color);
    width: 100%;
    padding: 0;
    text-align: left;
    border-radius: 25px;
    min-height: 32px;
    display: grid;
    overflow: hidden;
}

.buttonInputPerfil > form{
    height: 100%;
    width: 100%;
}

.buttonPerfil{
    color: var(--font2-color);
    background-color: var(--bg2-color);
    padding: 5px 15px;
    text-align: left;
    border-radius: 25px;
    min-height: 32px;
    margin:2px 5px;
}

.buttonInputPerfil .optionInputPerfil{
    background-color: var(--bg2-color);
}
.buttonInputPerfil input,
.buttonInputPerfil select{
    width: 100%;
    height: 100%;
    padding: var(--pad-button);
    background-color: var(--bg2-color);
    color:inherit;
    outline: none;
    border:none;
}
.buttonInputPerfil select{
    cursor: pointer;
}

.buttonInputPerfil:focus-within,
.buttonPerfil:focus{
    outline: 2px solid white;
}

.buttonInputPerfil.disabledInputPerfil{
    background-color: var(--bg2ReducedOpacity-color);
}

.footerPerfil{
    position: sticky;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    width: 100%;
    background-color: var(--bg-color);
}

.perfilContainerContainer{
    width: 100%;
    height: 100%;
}