.pathItem>a{
  color: var(--font2-color);
}

.pathItem {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
  padding-right: 5px;
  align-items: center;
  justify-items: center;
}

.path{
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid var(--bg2-color);
  flex-wrap: wrap;
  position: sticky;
  top:0;
  z-index: 2;
  background-color: var(--bg3-color);
  color:var(--font2-color);

}