.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: var(--font2-color);
}

.loggedIn {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: 'header header'
                       'menu main'
                       'menu footer';
  grid-template-columns: min-content 1fr;
  grid-template-rows: 50px 1fr max-content;
  overflow: hidden;
}

.myFooter{
  grid-area: footer;
  background-color: var(--bg-color);
  color: var(--font-color);
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

.generalHeader {
  position:sticky;
  top:0;
  grid-area: header;
  z-index: 3;
  display:grid;
  align-items: center;
  grid-template-columns: max-content auto max-content;
  padding: 0px 10px 0px 0px;
  column-gap: 5px;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.principal{
  max-width: 100%;
  width: 100%;
  text-align: center;
  grid-area: main;
  display: flex;
  justify-content: center;
  font-weight: 400;
  padding: 0px;
  color: var(--bg2-color);
  background-color: var(--font2-color);
  overflow-y: auto;
}


.mainText{
  max-width: max(500px, 60%);
  width: 100%;
  text-align: justify;
  height: max-content;
  padding: 5px 15px;
}

.displayDocs{
  display: grid;
  text-align: left;
  width: 100%;
  max-height: 100%;
  grid-template-areas: "path path"
                       "filesfolders info";
  grid-template-columns: 100% 0;
  grid-template-rows: max-content 1fr;
  overflow: hidden;
}

.displayDocs>.foldersAndFilesContainer{
  grid-area:filesfolders;
}
.displayDocs>.path{
  grid-area: path;
}
.displayDocs>.infoDocs{
  grid-area: info;
}
.infoDocs{
  width: 100%;
  max-height: 100%;
  position: relative;
  border-left: 2px solid var(--bg2-color);
  box-shadow: 10px 0px 20px 0px var(--bg2-color);
  background-color: var(--bg3-color);
  color:var(--font2-color);
  padding: 5px 10px;
  overflow: hidden;
}
.infoDocs a{
  color:var(--font2-color);

}
.displayDocs.displayedInfoDocs{
  grid-template-columns: 1fr 250px
}
.displayedInfoDocs .folderGroup,
.displayedInfoDocs .fileGroup{
  overflow: hidden;
}
.foldersAndFilesContainer{
  overflow-y: auto;
  display: grid;
  padding: 0px 15px;
  width:100%;
  grid-template-columns: min(max(500px, 60%), 100%);
  grid-template-rows: max-content max-content;
  justify-content: center;
}

.infoDocs>button{
  position: absolute;
  background: none;
  top: 0;
  right:0;
  font-size: 30px;
  color:var(--font2-color);
}
.infoDocs>ul{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden
}

.titleInfo{
  display: block;
  padding: 2px 0;
  margin-top: 5px;
}

a.dataInfo{
  overflow-wrap: break-word;
}

.dataInfo>svg{
  margin-right: 5px;
}

@media (max-width: 500px) {
  .displayDocs.displayedInfoDocs{
    grid-template-columns: 0 1fr
  }
}

.listaPlaceHolder{
  width: 100%;
}

.generalContentLoader{
  padding: 15px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .displayDocs{
    transition: all 500ms;
  }


  @keyframes slider-text {
    from {
      transform: translate(100%, 0);
    }
    to {
      transform: translate(-100%, 0)
    }
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sliderTextContainer{
  width: 100%;
  height: 25px;
  position: relative;
  overflow-x: hidden;
}

.sliderText{
  position: absolute;
  min-width: 100%;
  white-space: nowrap;
  transform: translate(100%, 0);
  /* animation: slider-text 30s infinite linear; */
}

.unlisted {
  margin:0;
  padding:0;

}

.unlisted li{
  list-style: none;
}


.frontElement{
  position:fixed;
  display:flex;
  align-items: center;
  justify-content: center;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bgReducedOpacity-color);
}

.frontElement>div{
  background-color: var(--font2-color);
  padding: 15px 30px;
  border-radius: 25px;
  color: var(--bg2-color);
  text-align: left;
  max-height: calc(100% - 20px);
  overflow-y: auto;
  margin: 5px 10px;

}

.frontElement>button{
  position: absolute;
  top:0;
  right:0;
  background: none;
  color: var(--font-color);
  font-size: 30px;
}

kbd {
  background-color: var(--bg-color);
  border-radius: 3px;
  border: 1px solid var(--bgReducedOpacity-color);
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 2px 0 0 rgb(255 255 255 / 70%) inset;
  color: var(--font-color);
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}