.menu{
    height: calc(100vh - 50px);
    width: max-content;
    display: flex;
    grid-area: menu;
    flex-direction: column;
    align-content: center;
    position: static;
    position: sticky;
    top: 50px;
    background-color: var(--bg2-color);
    overflow-y: auto;
    
}

.menu > a{
    color:var(--font2-color);
    text-decoration: none;
    padding: 10px 5px;
    display:inline-grid;
    grid-template-columns: 30px auto;
    overflow-x: visible;
}

.menu > a:hover{
    color: var(--font-color);
    background-color: var(--bg-color);
}


.menuText{
    text-align: left;
    padding: 0 10px;
}

.menuContracted .menuText{
    display:none;
}

.menu .active{
    background-color: var(--font2-color);
    color: var(--bg2-color);
}

@media screen {
    
}