.folder{
    background-color: var(--bg2-color);
    text-decoration: none;
    color:var(--font2-color);
    border-radius:25px;
    padding: 10px 15px;
    display: grid;
    column-gap: 5px;
    grid-template-columns: 20px auto;
}