.enunciadoPregunta {
  margin: 0;
}

.itemGroupPregunta {
  padding: 5px 0;
}

.pregunta {
  padding: 15px 10px;
  width: max(500px, 60%);
  max-width: 100%;
  margin-top: 10px;
  border-radius: 25px;
}

.copyPregunta{
  background-color: inherit;
  font-size: 1.7em;
  display: block;
  margin-left: auto;
}

.preguntaCorregida{
  --border-color: var(--font-color);
  --colorText: var(--bg-color);
  border-color: var(--border-color);
  border-width: 2px;
  border-style: solid;
}

.preguntaCorregida.preguntaCorrecta{
  --border-color: var(--bg-color);
  --colorText: var(--font-color)
}

.preguntaCorregida.preguntaIncorrecta{
  --border-color: var(--bg-red-color);
  --colorText: var(--font-color);
}

.piePregunta{
  background-color: var(--border-color);
  color: var(--colorText);
  text-align: center;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 25px;
  color: var(--)
}