.online{
    width: 100%;
    height: max-content;
}

.onlineButton{
    display: block;
    margin: 10px auto;
    color: var(--font2-color);
    background-color: var(--bg2-color);
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 25px;
}

.inputGroup{
    display: block;
    margin: auto;
    outline: none;
    border:none;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.onlineChanging > button{
    color: var(--font2-color);
    background-color: var(--bg2-color);
    padding: 2px 0px;
    text-align: center;
    border-radius: 25px;
    font-size: 1em;
    width: 120px;
}

.onlineChanging > strong{
    max-width: 100px;
}

.onlineChanging > em{
    font-size: .8em;
}

.onlineChanging{
    display: grid;
    text-align: left;
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
}

.exitRoom{
    position: sticky;
    top:5px;
    right: 5px;
    display: block;
    color: var(--font2-color);
    background-color: var(--bg2-color);
    padding: 7px 15px;
    border-radius: 25px;
    margin-left: auto;
    font-size: 25px;
}

.onlineChanging > .copiarAlPortapapeles,
.onlineChanging > .changeRoomAdmin{
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
}

.onlineChanging > input{
    color: var(--font2-color);
    background-color: var(--bg2-color);
    border:none;
    padding: 2px 10px;
    text-align: center;
    border-radius: 25px;
    width: 120px;
    font-size: 1em;
    outline:none;
}

.temasPersonalizados{
    font-size: 0.85em;
    padding-left: 25px;
}

.online .isReady,
.online .isNotReady{
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--font-color);
}

.online .isReady{
    background-color: var(--bg-color);
}

.online .isNotReady{
    background-color: var( --bg-red-color);
}

.online summary{
    font-weight: bold;
}

.online details{
    text-align: left;
    padding: 5px 10px;
}