.online{
    width: 100%;
    position: relative;
}

.onlineButton{
    display: block;
    margin: 10px auto;
    color: var(--font2-color);
    background-color: var(--bg2-color);
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 25px;
}

.inputGroup{
    display: block;
    margin: auto;
    outline: none;
    border:none;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: var(--bg-color);
    color: var(--font-color);
}