.logInButton{
    border-radius: 20px;
    padding: 5px 20px;
    background-color: var(--logo-bg);
    color: var(--logo-fg);
    max-width: 90%;
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 10px;
    align-items: center;
}

.cookies{
    position: fixed;
    width: 100vw;
    display: grid;
    grid-template-columns: auto 100px;
    background-color: var(--logo-bg);
    color: var(--logo-fg);
    column-gap: 10px;
    padding: 5px 10px;
    bottom: 0;
    align-items: center;
}

.cookies > button{
    width: 100%;
    color: var(--logo-bg);
    background-color: var(--logo-fg);
    border-radius: 15px;
}

.googleLogo{
    width: 20px;
}

.logo{
    height: min-content;
    width: min(90%, 381.715px);
    max-height: 50%;
}
.backgroundRetamar{
    aspect-ratio: 1;
    height: 250px;
    padding: 30px;
    background-color: var(--logo-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px auto;
}
.backgroundRetamar> img{
    margin-top: 20px;
}

.loginContainer{
    height: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.slide{
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: var(--logo-bg);
    padding: 5px 10px;
    height: 100%;
    overflow: auto;
    margin: auto 0;
}

.slideContent{
    display: grid;
    align-items: center;
    height: max-content;
    min-height: 100%;
}

.slideGroup{
    display: grid;
    grid-auto-rows: 100%;
    height: 100%;
}

.pagesButtonContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.pagesButtonLogIn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--logo-bg);
    color: var(--logo-fg);
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 7px;
    width: min(30%, 150px);
    margin: 0 auto;
}

#login{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#historia{
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.panelGroup{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px 0;
}

.panel{
    color: var(--logo-fg);
   /*  width: max(30%, 250px); */
    width: 250px;
    text-align: center;
    padding: 5px 10px;
}

.panelText{
    background-color: var(--logo-bg);
    border-radius: 25px;
    padding: 5px 10px;
}


.panelImg{
    background-color: var(--logo-bg);
    aspect-ratio: 1;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
}

.panelText > h4{
    text-align: center;
    font-size: 1.1em;
    margin: 3px 0;
}
.panelText > p{
    margin: 0;
}