:root{
  --bg-dark-mode: #44546A;
  --bgReducedOpacity-dark-mode: #44546ac4;
  --font-dark-mode: #b2cce5; 
  --bg2-dark-mode:#9db4d5;
  --font2-dark-mode: #1c2833;
  --bg-light-mode: #67A0C6;
  --bgReducedOpacity-light-mode: #67A0C6c4;
  --bg2-light-mode: #1c2833;
  --font-light-mode: #070707;  
  --font2-light-mode: #ddd;  
  --bgReducedOpacity-color: var(--bgReducedOpacity-dark-mode);
  --bg-color: var(--bg-dark-mode);
  --bg2-color: var(--bg2-dark-mode);
  --font-color: var(--font-dark-mode);
  --font2-color: var(--font2-dark-mode);
}

@media (prefers-color-scheme: light){
  :root{
    --bg-color: var(--bg-light-mode);
    --bg2-color: var(--bg2-light-mode);
    --font-color: var(--font-light-mode);
    --font2-color: var(--font2-light-mode);
    --bgReducedOpacity-color: var(--bgReducedOpacity-light-mode);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::after, *::before{
    box-sizing: border-box;
}

a{
  color: var(--bg2-color);
}

html, body, #root{
    min-height: 100vh;
    width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
