.ajusteReaccion{
    /* width: 100%; */
    width: min(600px, 100%);
    padding: 20px;
}
.inputAjusteReaccion{
    width: 100%;
    border-radius: 25px;
    padding: 5px 10px;
    color: var(--font2-color);
    background-color: var(--bg2-color);
    border: none;
}

.detailsReaction{
    padding-top: 10px;
    text-align: justify;
}

.colorless .atom{
    color: inherit !important;
}

.colorChooseReaction{
    background-color: var(--bg2-color);
    color: var(--font2-color);
    border-radius: 25px;
    padding: 5px 10px;
}