.puntuacionesPerTema{
    max-width: max(500px, 60%);
    width: 100%;
    height: max-content;
    padding: 25px;
    margin: 0 auto;
    --level-1-color:rgb(var(--bg-red-light-mode));
    --level-2-color:rgb(var(--bg3-dark-mode));
    --level-3-color:rgb(var(--bg-light-mode));
}

.gridPuntuacionesPerTema{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    row-gap: 10px;
    column-gap: 10px;
}

.puntuacionTemaProgress{
    width: 100%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: max-content;
    row-gap: 5px;
    padding: 5px 10px;
    background-color: var(--bg2-color);
    color: var(--font2-color);
    height: max-content;
}

.puntuacionTemaProgress > button {
    display: contents;
    background-color: inherit;
    color: inherit;
}


.progressPuntuacionesContainer{
    --h: 20px;
    position: relative;
    height: var(--h);
    width: 100%;
    border-radius:var(--h);
    overflow: hidden;
    background-color: var(--font2-color);
}

.progressPuntuacionesContainer > div{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    border-radius: var(--h);
}

.level1Text{
    color: var(--level-1-color);
}
.level2Text{
    color: var(--level-2-color);
}
.level3Text{
    color: var(--level-3-color);
}

.progressLevel1{
    background-color: var(--level-1-color);
    z-index: 3;
}

.progressLevel2{
    background-color: var(--level-2-color);
    z-index: 2;

}
.progressLevel3{
    background-color: var(--level-3-color);
    z-index: 1;

}
.puntuacionProgress{
    z-index: 4;
    width: 100%;
    text-align: center;
    color:white;
    display: grid;
    align-content: center;
}